@import "tailwindcss";

@theme {
  /* iOS-style color palette */
  --color-background: rgb(250 250 250);
  --color-background-dark: rgb(18 18 18);
  
  --color-surface: rgb(255 255 255);
  --color-surface-dark: rgb(28 28 28);
  
  --color-primary: rgb(0 122 255); /* iOS blue */
  --color-text: rgb(0 0 0);
  --color-text-dark: rgb(255 255 255);
  --color-text-secondary: rgb(142 142 147);
  
  --color-border: rgb(229 229 234);
  --color-border-dark: rgb(58 58 60);
  
  --color-success: rgb(52 199 89);
  --color-warning: rgb(255 149 0);
  --color-error: rgb(255 59 48);
  
  --radius: 12px;
}

/* ShadCN types compatibility variables */
:root {
  --background: 250 250 250;
  --foreground: 0 0 0;
}

.dark {
  --background: 18 18 18;
  --foreground: 255 255 255;
}

/* Clean iOS scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400/50 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400/70;
}
